@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Marcellus+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 450px) {
  .main-div {
    height: 800px;
  }
}
.inside-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1000px;
  height: 700px;
  margin-top: 200px;
}
@media only screen and (max-width: 800px) {
  .inside-div {
    width: 550px;
  }
}
@media only screen and (max-width: 500px) {
  .inside-div {
    width: 500px;
    margin: 200x auto;
  }
}
@media only screen and (max-width: 450px) {
  .inside-div {
    width: 450px;
    margin: auto;
    margin-top: 200px;
  }
}

.top-content-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-button {
  margin-right: 20px;
  height: 40px;
  width: 40px;
  color: rgba(74, 21, 110, 1);
}
@media screen and (max-width: 500px) {
  .add-button {
    margin-right: 5px;
    height: 39px;
  }
}
.plus-icon {
  width: 20px;
  height: 20px;
  margin: 8px auto;
}
@media screen and (max-width: 450px) {
  .add-button {
    width: 30px;
    height: 34px;
  }
  .plus-icon {
    width: 15px;
    margin: 5px auto;
  }
}
h1 {
  text-align: center;
  margin-bottom: 100px;
  font-size: 50px;
  color: white;
  text-shadow: 0 3px 8px white;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
    margin-bottom: 50px;
  }
}
input {
  width: 300px;
  padding-left: 10px;
  font-size: 18px;
  font-family: "Marcellus", serif;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  input {
    width: 220px;
  }
}
@media screen and (max-width: 500px) {
  input {
    width: 150px;
    height: 39px;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 450px) {
  input {
    width: 150px;
    height: 34px;
  }
}
@media only screen and (max-width: 380px) {
  input {
    font-size: 0.8em;
  }
}

.select {
  position: relative;
  color: rgba(74, 21, 110, 1);
  width: 15rem;
  cursor: pointer;
  background-image: url(./arrow_drop_down_black.png);
  background-position: right;
  background-repeat: no-repeat;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: rgba(74, 21, 110, 1);
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: all 0.3s ease;
  color: white;
}

.select:hover::after {
  background-color: white;
  color: rgba(74, 21, 110, 1);
}

.inside-select {
  font-family: "Marcellus", serif;
  width: 15rem;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  font-size: 1.2em;
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
}
@media only screen and (max-width: 800px) {
  .inside-select {
    width: 12rem;
  }
}
@media only screen and (max-width: 650px) {
  .inside-select {
    width: 9rem;
  }
  .select {
    width: 11rem;
  }
}
@media only screen and (max-width: 500px) {
  .inside-select {
    width: 150px;
    padding-left: 5px;
    font-size: 0.9em;
  }
  .select {
    width: 150px;
  }
  .select::after {
    width: 35px;
    height: 39px;
  }
}
@media only screen and (max-width: 450px) {
  .inside-select {
    width: 130px;
    height: 33px;
  }
  .select::after {
    width: 30px;
    height: 33px;
  }
}
@media only screen and (max-width: 380px) {
  .inside-select {
    width: 110px;
    height: 33px;
  }
  .select {
    width: 110px;
    font-size: 0.8em;
  }
}

.bottom-content-div {
  display: flex;
  width: 500px;
  gap: 15px;
  margin: 60px auto;
  flex-direction: column;
  height: 800px;
  overflow: auto;
}

.bottom-inside-div {
  animation: zoom-in 0.8s 1 ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
@media only screen and (max-width: 500px) {
  .bottom-content-div {
    margin: 40px auto;
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .bottom-content-div {
    width: 100%;
  }
}
@keyframes zoom-in {
  100% {
    transform: scale(1);
    opacity: 1;
  }
  0% {
    transform: scale(0);
  }
}

p {
  display: flex;
  width: 300px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
  text-align: left;
  align-items: center;
  font-family: "Marcellus", serif;
  background-color: white;
}
.btn-done {
  width: 42px;
  height: 42px;
  border: none;
  background-color: rgb(0, 68, 152);
}

.done-icon {
  width: 28px;
  height: 28px;
  color: white;
}

.delete-icon {
  width: 28px;
  height: 28px;
  color: white;
}

.btn-remove {
  width: 42px;
  height: 42px;
  background-color: rgb(111, 0, 115);
  border: none;
}

@media only screen and (max-width: 450px) {
  p {
    width: 250px;
    height: 35px;
    font-size: 0.9em;
  }
  .btn-done {
    width: 35px;
    height: 36px;
  }
  .btn-remove {
    width: 35px;
    height: 36px;
  }
}
@media only screen and (max-width: 380px) {
  p {
    width: 200px;
    height: 35px;
  }
}

.fall {
  animation: fall-apart 0.8s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes fall-apart {
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
